* {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}


header, footer {
    position: absolute;
    width: 100%;
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

header h1 {
    color: antiquewhite;
    text-align: center;

}

header .menu {
    display: flexbox;
    flex-direction: row;
    flex-wrap: unwrap
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    bottom: 0;
}

footer .contact-link {
    display: block;
    text-decoration: none;
}

footer h2 {
    color: antiquewhite;
}

.greetingBox {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightblue;
    box-sizing: border-box;
    margin: 20% 40%;
    width: max-content;
    border-radius: 15px;
    border-style: groove;
}

.greetingSentence, .moodBar, #memoBtn, .memoText {
    position: adsolute;
    margin: auto;
}

#memoBtn {
    width: 20%
}

.memoText {
    background-color: lightcyan;
    border-radius: 15px;
}

#memoSubmitBtn {
    box-sizing: border-box;
    background-color: lightsalmon;
    margin-left: 40%;
}