* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* Header */
.components header {
    background-image: url('../../public/img/bg-wave.jpg');
    background-attachment: local;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.components header h1 {
    color: antiquewhite;
    text-align: center;

}

/* Header Menu */
nav#menu ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

nav#menu ul li link {
    text-decoration: none;

}

.components main {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Footer */
footer {
    background-image: url('../../public/img/bg-wave.jpg');
    background-attachment: local;
    position: absolute;
    min-width: 100%;
    bottom: 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-link {
    text-decoration: none;
}

footer h2, footer p {
    color: antiquewhite;
}

/* Main Page: GreetingBox */
.greetingBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
    box-sizing: content-box;
    min-width: 80%;
    min-height: 50vh;
    padding: 50px;
    overflow: scroll;
    background-color: lightblue;
    border-radius: 15px;
    border-style: groove;
}

/* Greeting.js: sayHello() func */
.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 0;
}

/* Greeting.js: moodBar() func */
.moodBox, .moodBarFeedback {
    box-sizing: border-box;
    margin-top: 10 px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.moodBtn {
    margin-top: 20px;
}

/* Memo.js : PopUp() */
.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.pop-up-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640 px;
    background-color: lightblue;
}

.pop-up-inner .popUp-submit-btn {
    position: absolute;
    top: 16px;
    right: 16px
}

#memoText {
    border-radius: 10px;
    border-style: groove;
}

/*

.greetingSentence, .moodBar, #memoBtn, .memoText {
    position: adsolute;
    margin: auto;
}

.moodBox {
    box-sizing: border-box;
    width: max-content;
    max-height: max-content;
}

.greetingSentence {
    line-height: 100%;
}

.moodBarFeedback {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#memoBtn, #recordMoodValBtn {
    display: block;
    position: absolute;
    width: fit-content;
}

.memoText {
    background-color: lightcyan;
    border-radius: 15px;
    resize: none;
}

#memoSubmitBtn {
    box-sizing: border-box;
    background-color: lightsalmon;
    margin-left: 40%;
} */